### Data Types Review

In [5]:
# Data Types
print(123_456_789)

# Type Casting: Changing var from a var type to another
# int()
# str()
# float(304)
# bool("True")

123456789

### Mathematical Operators Review

In [20]:
# Division operator will always result in a float type
student_scores = {
        "Harry": 81,
        "Ron": 78,
        "Hermione": 99, 
        "Draco": 74,
        "Neville": 62,
        }

for keys in student_scores:
        # Scores 90 - 100: Grade = "Outstanding"
        if student_scores[keys] >= 91:
            student_grades[keys] = 'Outstanding'

    # if student_scores[key] < 91 and student_scores >= 81:
    #     print('Exceeds Expectations') #student_scores =

81
99

#### Nesting Dictionaries

In [8]:
# Nesting Dictionary in a Dictionary
orig_travel_log = {
    'France': ['Paris', 'Lille', 'Dijon'],
    'Germany': ['Berlin', 'Hamburg', 'Stuttgart'],
}
dict_travel_log = {
    'France': {
        'cities_visited': ['Paris', 'Lille', 'Dijon', ],
        'total_visits': 12
    },
    'Germany': {
        'cities_visited': ['Berlin', 'Hamburg', 'Stuttgart'],
        'restaurants_visited': 10,
}}

# Nesting a Dictionary in a List
list_travel_log = [
    {
        'country': 'France',
        'cities_visited': ['Paris', 'Lille', 'Dijon', ],
        'total_visits': 12,
    },
    {
        'country': 'Germany',
        'cities_visited': ['Berlin', 'Hamburg', 'Stuttgart'],
        'restaurants_visited': 10,
}]

In [15]:
brazil_trip = {
    'country': ' ',
    'visits': ' ',
    'cities': ' ',
    }

list_travel_log.append(brazil_trip)

print(list_travel_log[2])

{'country': ' ', 'visits': ' ', 'cities': ' '}